@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .background{
    background-color: #fff2e1;
    border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  }
  .logo
  {
   left:5%;
  }

  .title_logo{
    position: relative;
    left:15%;
    top:-85px;
  }
  .hamburger-div{
    max-width: fit-content;
    position: absolute;
     left:90%;
    top:5%; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* margin: 40px 20px; */
   
  }
  .hamburger {
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
    border-radius: 6px;
    
  }
  .hamburger-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .close-menu{
   /* border:2px solid green; */

   position: relative;
   top:55px;
   right:10px;
  }

  .display-close {
    display: none;
    
  }

  /* .close-1 {
    width: 30px;
    height: 3px;
    background-color: #db2020;
    border-radius: 4px;
    transform: rotate(50deg);
  }

  .close-2 {
    width: 30px;
    height: 3px;
    background-color:   #db2020;
    border-radius: 4px;
    transform: rotate(135deg);
  } */



   .close-1 {
    transform: rotate(45deg);
  }

  .close-2 {
    transform: rotate(-45deg);
  }
  .close-line {
    width: 100%;
    height: 3px;
    background-color: #db2020;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform-origin: center;
   
  }
  .nav-close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  } 
  


  
  

  .navigation-bar {
    display: block;
  }
  .responsive-nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav_item {
    margin: 50px 0;
  }

  .hero{
    display: flex;
    flex-direction: column;
  }

  .hero_info {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .main-div {
    text-align: center;
    width: 100%;
  }

  .title_hero {
    width: 100%;
    
    position: relative;
    right:15%;
  }
  .img-div{
    width: 100%;
   
  }
  .girl{
    width: 100%;
    height: 100%;
    position: relative;
    right:17%;
  }

  .paragraph_hero {
    width: 100%;
    position: relative;
    left:-14%;
  }
  .buttons-div{
    /* border:2px solid red; */
   max-width:fit-content;
   display: flex;
    flex-direction: column;
    position: relative;
    left:42%;
  max-height: max-content;
  }
  .video_des{
    margin-top: -45%;
    visibility: hidden;
  }

  .play-img {
    display: inline-block;
    width: auto;
  }
 
  .card-divs{
    
    max-height: 45px;
  }
  .img-stats{
    width: 100%;
  }
  .card-small-3{
   /* border:2px solid green; */
   margin-left:150px;
  }
  .card-small-2{
    margin-top:10%;
    margin-left:-15%;
  }
  .features_cards{
   
    display: flex;
    flex-direction: column;
    
    align-items: center;
   flex-wrap: wrap;
   
   
    
  }
  .feature_card{
   width:90%;
   height:90%;
   
 
   margin-bottom: 70px;
   border-radius: 20px;
   
  }
  .feature_info {
    padding: 20px 0;
    font-size: 20px;
  }
  .feature_icon {
    
    left: 35%;
    
    
  }
  .features__img{
    width: 10%;
    height: auto;
    visibility: hidden;
    margin-top: 200px;
    margin-left:260px;
    
  }
  .feature_title{
    font-size:23px;
    font-weight: bold;
    margin-top: 93px;
  }
  .image_container{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
  }
  .about_images{
    margin: 20px 0;
   overflow: visible;
   
  
  
  }
  .images{
    width: 90%;
   

  }
  .about1{
   
    margin-left:-10%;
  }
  .about2{
   
    margin-top: -10%;;
    margin-left:-5%;
  }
.first_text{
  
  position: relative;
  top:-220px;
 

}
.start_today{
  position: relative;
  top:-200px;
}
.about_info1{
  /* border: 2px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
}
.about_info_part{
 width: 90%;

 
 
}
.feature_dis{
  font-size: 20px;
}
.about_info_title{
  width: 90%;
  display:inherit;
  flex-wrap: nowrap;
 
  position:relative;
  left:5%;
}
.about_info_para{
  width:110%;
  position:relative;
  left:1%;
  font-size: 20px;
}
.about_info{
  font-size: 20px;
}
.big-orange{
 position:relative;
 left:-45%;
 top:-60px;
}
.big-orange-circle{
  height:40px;
  width: 40px;
}
.small-orange{
  position:relative;
  left:45%;
 
}
.small-orangle-circle{
  height:20px;
  width:20px;
}
.learn_more{
position: relative;
left:1%;
}
.blue_rectangle {
  width: 90%;
 position: relative;
 top:2vh;
 left:2vh;


}
.orange_Rectangle{
 visibility: hidden;
}
.main_image{
width:90%;
position:relative;
/* top:-1000px; */

bottom:50vh;
left:-5vh;



}
.main_img_png{ 
  width: 90%;
 
}
.play-image{
  position:relative;
  top:35vh;
  left:30vh;
}
.play_img_png{
  width: 90%;
  
}
.main-container{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sky_blue_circle{
  display: none;
}
.green_circle{
  display:none;
}
.blue_circle{
  display: none;
}
.pink_circle{
  display: none;
}
.sub-container{
  width:90%;
  
}
.group_photo{
  width: auto;
  height:auto;
  /* margin-left: -5%;
  margin-top:20%; */
  position: relative;
  top:-2%;
  left:-5%;
  
}
.title_{

font-size:25px;
position: relative;
top:15%;
}
.features_divs{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature_div12 {
  width: 100%;
  margin-top: 30px;
 
}
.icons{
 
  display: flex;
  flex-direction: column;
  position: relative;
  top:20%;
}
.icon_1{
  width:90%;
}
.feature_text{
  
  width:800px;
  
}
.feature_div_title{
  margin-left: 10%;
}
.title_1{
  width: 90%;
  margin-left: -10%;
}
.think-image{
  width:90%;
  margin-left: 25%;
}
.image-and-text{
  flex-direction: column;
 align-items: center;
 
}
  .ture_or_false{
    width:80%;
  }
  .true_or_false_png{
    width: 90%;
    margin-left:10%;
  }
  .Assesments_Quizzes_Testes_title{
    margin-top:10px;
  }
  .ass-qui-test{
    width: 100%;
    margin-left: -10%;;
    
  }
 .management_tools{
  /* border: 2px solid red;; */
width:90%;
flex-direction: column;

 }
.gradebook_png{
  width: 90%;
  margin-top:-25%;
 margin-left: 37%;
}
.management{
  /* border:2px solid green; */
  margin-top: 30%;
}
.management_title{
  margin-top:10%;
margin-left:12%;

}
.management_para{
  width: 90%;
}
.video_and_one_one{
  flex-direction: column-reverse;
}

.one-one-title{
margin-left:30%;
}
.one-one-para{
 margin-left:6%;
  width: 80%;
  
}
.see_more_feature_button{
 visibility: hidden;

}
.integration-and-educational{
  flex-direction: column;
 
  
}

.integrations_head{
  margin-top:30%;
  margin-left:20%;
}
.integration-para{
 
  margin-left: -50%;
  width:200%;
 
}
.int-title{
  margin-left:10%;
}


.testimonials{
  justify-content: space-around;


}
.testimonial-wrap{
 overflow: visible;
 
 /* border:2px solid magenta; */
}


.smile-png{
  margin-left: 10;
  width: 90%;
  /* border: 2px solid green; */

}
.testimonial-info{
  width:90%;
 
  /* border:2px solid red; */
}

 .note-card{
  display: none;
 }
.back-div{
  opacity: 0;
}
.next{
  visibility: hidden;
}
.container-box{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.read_more{
  visibility: hidden;
}
.footer_vertical_line{
  visibility: hidden;
}
.copyright{
  margin-top:-9%;
}
footer{
  background-color: #447094;
}

}
@media only screen and (max-width: 576px) {
 .play-img{
  width: 100%;
 
 }
 .img-tick-div{
  display: none;;
 }
.main-div{
  margin-left: -90px;
}
.card-small-2 {
  top: 50%;
  left: 30%;
}
.card-small-3{
  display: none;
}
.stats-img-div{
  left:80%;
}
.title_hero{
  font-size: 25px;
  left:-30%;
  width: 90%;
  
}
.paragraph_hero{
  width:90%;
  left:-30%;
  
}
.buttons-div{
  flex-direction: row;
}
.join{
  margin-top: 15%;
  margin-left:-17%;
}
.card1{
 visibility: hidden;

}
.hamburger-div{
 margin-top: 20px;
 
}
.close-line{
  top:5px;
  right:-3px;
  background-color: black;
  
}
.companies_heading{
 margin-left:7%;
 margin-top:1%;
 width: 90%;
}

.feature_info{
  margin-left:7%;

}
.first_text{
  top:-150px;
  font-size:20px;
}
.start_today{
  padding:5px;
  top:-145px;
}
.about_info_title{
 
  width: 140%;
  text-align: center;
  margin-left:-20%;
}
.about_info_para{
  width: 160%;
  
  margin-left: -33%;
  margin-top: -20px;
}
.big-orange{
  top:-220px;
 
}

.blue_rectangle{
 visibility: hidden;
}
.main_image{
 
  width:150%;
  position: absolute;
top:25%;
left:-34%;

}
.main_img_png{
  width: 90%;
  margin-right:120%;
  
}
.play-image{
  /* border: 2px solid green ; */
  visibility: visible;
 position: absolute;
 top:40%;
 left:30%;
 width: 40%;

}
.play_img_png{
  width:90%;
  
}
.group_photo{
  width:90%;
}
.title_{
  top:-40%;
  left:-10%;
  width:100%;

}
.icons{
  top:-25%;
  padding:10px;
  left:-10%;
  font-size: 20px;
}
.paragraph_feature_title{
  font-size: 20px;
}
.feature_div_title{
  width:90%;
  position:relative;
  left:1%;
  top:-40px;
}
.title_1{
  font-size: 20px;
  width: 90%;
  
  
}
.Assesments_Quizzes_Testes_title{
  margin-top: 10%;
  margin-left:2px;
}
.management_tools{
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.management{
  margin-top:55%;
}
.management_title{
  margin-left:6px;
  width:90%;
}
.mngt-para{
  font-size: 20px;
  width:90%;
}
.ass-qui-test{
  font-size: 20px;
  

  margin-left:-10%;
}
.gradebook_png{
  width: 90%;
  margin-top:-40%;
}
.one-one-title{
  margin-left: 15%;
}
.one-one-para{
  font-size: 20px;
}
.all--0ne{
  margin-left:-20%;
}
.int-title{
  width:250%;
  /* border:2px solid red; */
  margin-left:-60%;
 
}
.integration-para{
  margin-top:80%;
  font-size:20px;
  margin-left:-25%;
}
.testimonial-wrap{
  flex-direction: column;
}
.testimonial-title{
  margin-left:25%;
}
.what-they-say{
  margin-left: 25%;
}
.testimonial-para{
  margin-left: 10%;
}
.smile-image{
  margin-left:-9%;
}
.latest-news-para{
  margin-right:12%;
}
.news-para{
  
  width:90%;
  margin-left:-5%;
  text-align: center;
}
.heading-new{
  width:90%;
 
}
.title_h2{
  margin-left:15px;
}
.logo-and-vision{
  /* flex-direction: column; */
  width:90%;
}
























}


