@media only screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
    margin: auto;
    overflow: hidden;
  }

  .background{
    background-color: #fff2e1;
    border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  }
  .logo {
    margin: 15px 0;
  }

  .title_logo{
    position: relative;
    left:15%;
    top:-85px;
  }
  .hamburger-div{
    max-width: fit-content;
    position: absolute;
     left:90%;
    top:5%; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* margin: 40px 20px; */
   
  }
  .hamburger {
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
    border-radius: 6px;
    
  }
  .hamburger-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .close-menu{
   /* border:2px solid green; */

   position: relative;
   top:55px;
   right:10px;
  }

  .display-close {
    display: none;
    
  }

  /* .close-1 {
    width: 30px;
    height: 3px;
    background-color: #db2020;
    border-radius: 4px;
    transform: rotate(50deg);
  }

  .close-2 {
    width: 30px;
    height: 3px;
    background-color:   #db2020;
    border-radius: 4px;
    transform: rotate(135deg);
  } */



   .close-1 {
    transform: rotate(45deg);
  }

  .close-2 {
    transform: rotate(-45deg);
  }
  .close-line {
    width: 100%;
    height: 3px;
    background-color: #db2020;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform-origin: center;
   
  }
  .nav-close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  } 
  


  
  

  .navigation-bar {
    display: block;
  }
  .responsive-nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav_item {
    margin: 50px 0;
  }

  .hero{
    display: flex;
    flex-direction: column;
  }

  .hero_info {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .main-div {
    text-align: center;
    width: 100%;
  }

  .title_hero {
    width: 100%;
    
    position: relative;
    right:15%;
  }
  .img-div{
    width: 100%;
   
  }
  .girl{
    width: 100%;
    height: 100%;
    position: relative;
    right:17%;
  }

  .paragraph_hero {
    width: 100%;
    position: relative;
    left:-14%;
  }
  .buttons-div{
    /* border:2px solid red; */
   max-width:fit-content;
   display: flex;
    flex-direction: column;
    position: relative;
    left:42%;
  max-height: max-content;
  }
  .video_des{
    margin-top: -45%;
    visibility: hidden;
  }

  .play-img {
    display: inline-block;
    width: auto;
  }
 
  .card-divs{
    
    max-height: 45px;
  }
  .img-stats{
    width: 100%;
  }
  .card-small-3{
   /* border:2px solid green; */
   margin-left:150px;
  }
  .card-small-2{
    margin-top:10%;
    margin-left:-15%;
  }
  .features_cards{
   
    display: flex;
    flex-direction: column;
    
    align-items: center;
   flex-wrap: wrap;
   
   
    
  }
  .feature_card{
   width:90%;
   height:90%;
   
 
   margin-bottom: 70px;
   border-radius: 20px;
   
  }
  .feature_info {
    padding: 20px 0;
  }
  .feature_icon {
    
    left: 35%;
    
    
  }
  .features__img{
    width: 10%;
    height: auto;
    visibility: hidden;
    margin-top: 200px;
    margin-left:260px;
    
  }
  .feature_title{
    font-size:23px;
    font-weight: bold;
    margin-top: 93px;
  }
  .image_container{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_images{
    margin: 20px 0;
   
    overflow: none;
  
  }
  .images{
    width: 160%;
    height:160%;

  }
  .about1{
    margin-left:-45%;
  }
  .about2{
    margin-top: -22%;;
    margin-left:-40%;
  }
.first_text{
  
  position: relative;
  top:-400px;

}
.start_today{
  position: relative;
  top:-400px;
}
.about_info1{
  /* border: 2px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
}
.about_info_part{
 max-width: fit-content;
 max-height: fit-content;
 /* border:2px solid green; */
 
}
.about_info_title{
  width: 100%;
  display:inherit;
  flex-wrap: nowrap;
 
  position:relative;
  left:5%;
}
.about_info_para{
  width:100%;
  position:relative;
  left:1%;
}
.big-orange{
 position:relative;
 left:-45%;
 top:-60px;
}
.big-orange-circle{
  height:40px;
  width: 40px;
}
.small-orange{
  position:relative;
  left:45%;
 
}
.small-orangle-circle{
  height:20px;
  width:20px;
}
.learn_more{
position: relative;
left:1%;
}
.blue_rectangle {
  width: 90%;
 position: relative;
 top:20vh;

}
.orange_Rectangle{
 visibility: hidden;
}
.main_image{
width:100%;
position:relative;
/* top:-1000px; */
bottom:30vh;

object-fit: cover;
}
.main_img_png{ 
  width: 135%;

}
.play-image{
  position:relative;
  top:35vh;
  left:30vh;
}
.play_img_png{
  width: 90%;
  
}
.main-container{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sky_blue_circle{
  display: none;
}
.green_circle{
  display:none;
}
.blue_circle{
  display: none;
}
.pink_circle{
  display: none;
}
.group_photo{
  width: 90%;
  margin-left: -5%;
  margin-top:30%;
  
}
.title_{
text-align: center;
font-size:25px;
margin-bottom: 30px;
}
.features_divs{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature_div12 {
  width: 100%;
  margin-top: 30px;
 
}
.icons{
  display: flex;
  flex-direction: column;
}
.icon_1{
  width:90%;
}
.feature_text{
  
  width:800px;
  
}
.feature_div_title{
  margin-left: 10%;
}
.title_1{
  width: 90%;
  margin-left: -10%;
}
.think-image{
  width:90%;
  margin-left: 25%;
}
.image-and-text{
  flex-direction: column;
}
  .ture_or_false{
    width:90%;
  }



}
